[Unit]
Description=Minikube Service
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/minikube start --apiserver-ips=192.168.178.5
ExecStop=/usr/local/bin/minikube stop
User=levitin
Group=levitin

[Install]
WantedBy=multi-user.target
Alias=minikube.service
